.doctor {

  // .doctor__container

  &__container {
    // max-width: 1200px;
  }

  // .doctor__row

  &__row {
    margin-bottom: 40px;

    @media screen and (min-width: 768px) {
      display: flex;
      gap: 50px;
    }
  }

  // .doctor__image

  &__image {


    img {
      max-width: 100%;
      height: 100%;
    }

    @media screen and (min-width: 895px) {
      width: 30%;
      min-height: 400px;
    }
  }

  // .doctor__content

  &__content {
    margin-top: 30px;

    @media screen and (min-width: 768px) {
      width: 50%;
      margin-top: 0px;
    }
  }

  // .doctor__name

  &__name {
    font-size: clamp(25px, 2vw, 35px);
    line-height: 120%;
    margin-bottom: 30px;
  }

  // .doctor__spec

  &__spec {
    font-size: 18px;
    line-height: 150%;
    margin-bottom: 30px;
  }

  // .doctor__label

  &__label {
    font-size: 18px;
    font-weight: 600;
    line-height: 140%;
    margin-bottom: 10px;
  }

  // .doctor__list

  &__list {
    li {
      line-height: 150%;
      font-size: 16px;

      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }

  // .doctor__dop

  &__dop {}

  // .doctor__dop-title

  &__dop-title {
    margin-bottom: 30px;
  }
}