main {
  margin-top: 132px;
}

section {
  &:not(:first-child) {
    padding: 50px 0px;
  }
}

.inp {
  background-color: transparent;
  outline: none;
  width: 100%;

  &::placeholder {
    color: rgba(84, 98, 114, 0.8);
    font-size: 16px;
    font-weight: 300;
  }
}

.btn {
  color: $white;
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.5px;
  border-radius: 10px;
  background: $accent;
  box-shadow: 0px 10px 40px -5px rgba(0, 151, 191, 0.4);
  transition: $animation_speed;

  &:hover {
    background-color: #136cc3;
  }
}

.title {
  font-size: 32px;
  font-weight: 500;
  line-height: 150%;
}

.section-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.page-link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  font-weight: 500;
  padding: 11px 19px;
  transition: $animation_speed;
  border-radius: 10px;
  border: 1px solid #ebebeb;
  background: $white;
  box-shadow: 0px 0px 16px 0px rgba(230, 230, 230, 0.5);

  img {
    margin-left: 5px;
    margin-top: 2px;
  }

  &:hover {
    border: 1px solid #dddddd;
    box-shadow: 0px 0px 0px 0px rgba(230, 230, 230, 0.5);
  }
}
