body::-webkit-scrollbar {
  width: 6px;
  /* ширина всей полосы прокрутки */
}

body::-webkit-scrollbar-track {
  background: transparent;
  /* цвет зоны отслеживания */
}

body::-webkit-scrollbar-thumb {
  background-color: $accent;
  /* цвет бегунка */
}

main {
  margin-top: clamp(60px, 13vw, 160px);
}

section {
  &:not(:first-child) {
    padding: clamp(20px, 10vw, 50px) 0px;
  }

  &.bg {
    background-color: rgba($color: $accent, $alpha: .05);
  }
}


.inp {
  border-bottom: 1px solid rgba($color: $mainColor, $alpha: 0.3);
  background-color: transparent;
  outline: none;
  width: 100%;

  &::placeholder {
    color: rgba(84, 98, 114, 0.8);
    font-size: 16px;
    font-weight: 300;
  }
}

.btn {
  display: inline-flex;
  font-weight: 600;
  text-transform: uppercase;
  padding: 15px 30px;
  border: 1px solid rgba($color: $mainColor, $alpha: 1);
  position: relative;
  transition: $animation_speed;

  &::before {
    content: "";
    display: flex;
    width: 20%;
    height: 3px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: $accent;
    z-index: -1;
    transition: $animation_speed;
  }

  &:hover {
    color: $white;

    &::before {
      width: 100%;
      height: 100%;
    }
  }
}

._title {
  font-size: clamp(30px, 2.5vw, 42px);
  font-weight: 800;
  line-height: 150%;

  span {
    color: $accent;
    white-space: nowrap;
  }
}

._subtitle {
  font-size: 17px;
  line-height: 150%;
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
}

.section-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.page-link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  font-weight: 500;
  padding: 11px 19px;
  transition: $animation_speed;
  border-radius: 10px;
  border: 1px solid #ebebeb;
  background: $white;
  box-shadow: 0px 0px 16px 0px rgba(230, 230, 230, 0.5);

  img {
    margin-left: 5px;
    margin-top: 2px;
  }

  &:hover {
    border: 1px solid #dddddd;
    box-shadow: 0px 0px 0px 0px rgba(230, 230, 230, 0.5);
  }
}

// Лицензии

.license {

  // .license__container

  &__container {}

  // .license__title
  &__title {}

  // .license__slider

  &__slider {}

  // .license__wrapper

  &__wrapper {}

  // .license__slide

  &__slide {
    img {
      max-width: 100%;
    }
  }

  .swiper {}

  .swiper-wrapper {}

  .swiper-slide {}

  // .license__inner

  &__inner {}

  // .license__top
  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .license-button-prev,
  .license-button-next {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background-color: $accent;

    &::after {
      color: $white;
      font-size: 16px;
    }
  }

  .swiper-pagination {
    position: relative;
    left: 0 !important;
    bottom: 0 !important;

    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  .license-pagination {}

  .swiper-pagination-clickable {}

  .swiper-pagination-bullets {}
}