.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  box-shadow: 0px 0px 10px rgba($color: $mainColor, $alpha: .3);
  background-color: $white;
  z-index: 99;
  display: none;

  // .header__container

  &__container {}

  // .header__inner

  &__inner {}

  // .header__top

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px;
    border-bottom: 1px dashed rgba($color: $mainColor, $alpha: .3);
  }

  // .header__logo

  &__logo {
    display: flex;

    img {}

    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 10px;

      span {
        color: $accent;

        &:first-child {}

        &:last-child {
          font-size: 34px;
        }
      }
    }
  }

  // .header__bottom

  &__bottom {}
}

.top-header {

  // .top-header__contact

  &__contact {
    line-height: 150%;
    color: $mainColor;
  }

  // .top-header__address

  &__address {
    font-size: 13px;
    font-weight: 400;
  }

  // .top-header__contact-item

  &__contact-item {}

  // .top-header__phone

  &__phone {
    font-size: 24px;
    font-weight: 600;
    display: block;
    margin: 7px 0px;
  }

  // .top-header__time

  &__time {}

  // .top-header__logo

  &__logo {}

  // .top-header__btn

  &__btn {
    width: 290px;
    height: 60px;
    background-color: $accent;
    color: $white;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
  }
}

.bottom-header {

  // .bottom-header__menu

  &__menu {}
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0px;

  // .menu__item

  &__item {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    border-right: 1px solid rgba($color: $mainColor, $alpha: .1);
    border-left: 1px solid rgba($color: $mainColor, $alpha: .1);
    padding: 0px 40px;

    &:first-child {
      border-left: 0px;
    }

    &:last-child {
      border-right: 0px;
    }

    &._active {
      color: $accent;
    }

    &:hover {
      color: $accent;
    }
  }

  // .menu__btn-sub
  &__btn-sub {
    padding: 10px;
  }

  // .menu__link

  &__link {
    display: flex;
    font-size: 17px;
    padding: 5px 0px;
    transition: $animation_speed;
  }

  // .menu__sub

  &__sub {}
}

.sub-menu {

  // .sub-menu__item

  &__item {}

  // .sub-menu__link

  &__link {}
}