.header {
  // .header__container

  &__container {
  }

  // .header__inner

  &__inner {
  }
}

.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0px;
  border-bottom: 2px solid rgba($color: $mainColor, $alpha: 0.1);

  // .header-top__contact

  &__contact {
    p,
    a {
      font-size: 13px;
      line-height: 150%;
    }
  }

  // .header-top__address

  &__address {
  }

  // .header-top__phone

  &__phone {
    font-size: 20px !important;
    font-weight: 700;
  }

  // .header-top__timework

  &__timework {
  }

  // .header-top__logo

  &__logo {
    display: flex;
    align-items: center;
    img {
      width: 50px;
    }
  }

  // .header-top__logo-text

  &__logo-text {
    color: $accent;
    text-transform: uppercase;
    margin-left: 10px;
    p {
      &:first-child {
        font-size: 25px;
        font-weight: 600;
        margin-bottom: 5px;
      }

      &:last-child {
        font-size: 20px;
      }
    }
  }

  // .header-top__button

  &__button {
    button {
      padding: 10px 45px;
      background-color: $accent;
      color: $white;
      border-radius: 5px;
    }
  }
}
