.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  box-shadow: 0px 0px 10px rgba($color: $mainColor, $alpha: .2);
  background-color: $white;
  z-index: 99;

  @media screen {}

  // display: none;

  // .header__container

  &__container {}

  // .header__inner

  &__inner {}

  // .header__top

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px;

    @media screen and (min-width: 920px) {
      border-bottom: 1px dashed rgba($color: $mainColor, $alpha: .2);
    }
  }

  // .header__logo

  &__logo {
    display: flex;

    img {
      width: 35px;
    }

    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 10px;

      span {
        color: $accent;

        &:first-child {
          font-size: 14px;
        }

        &:last-child {
          font-size: 30px;
        }
      }
    }

    @media screen and (max-width: 425px) {
      img {
        width: 30px;
        height: 100%;
      }

      div {

        span {
          color: $accent;

          &:first-child {
            font-size: 10px;
          }

          &:last-child {
            font-size: 25px;
          }
        }
      }

    }
  }

  // .header__bottom

  &__bottom {}
}

.top-header {

  // .top-header__contact

  &__contact {
    line-height: 150%;
    color: $mainColor;

    @media screen and (max-width: 920px) {
      order: 2;
    }

    @media screen and (max-width: 650px) {
      display: none;
    }
  }

  // .top-header__address

  &__address {
    font-size: 13px;
    font-weight: 400;
  }

  // .top-header__contact-item

  &__contact-item {}

  // .top-header__phone

  &__phone {
    font-size: 20px;
    font-weight: 600;
    display: block;
    // margin: 7px 0px;
  }

  // .top-header__time

  &__time {
    font-size: 13px;
  }

  // .top-header__logo

  &__logo {
    @media screen and (max-width: 920px) {
      order: 1;
    }
  }

  // .top-header__btn

  &__btn {
    width: 250px;
    height: 50px;
    background-color: $accent;
    color: $white;
    font-weight: 600;
    border-radius: 6px;

    @media screen and (max-width: 920px) {
      display: none;
    }
  }


  // .top-header__icon-phone
  &__icon-phone {
    display: none;

    @media screen and (max-width: 650px) {
      display: flex !important;
      align-items: center;
      justify-content: center;
      order: 2;
      font-size: 25px;
    }
  }
}

.bottom-header {
  @media screen and (max-width: 920px) {
    display: none;
  }

  // .bottom-header__menu

  &__menu {}
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  // padding: 15px 0px;

  // .menu__item

  &__item {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    &:first-child {
      border-left: 0px;
    }

    &:last-child {
      border-right: 0px;
    }

    &._active {
      color: $accent;
    }

    &:hover {
      color: $accent;
    }

  }

  // .menu__link

  &__link {
    display: flex;
    align-items: center;
    line-height: 150%;
    padding: 15px clamp(20px, 2vw, 40px);
    cursor: pointer;
    transition: $animation_speed;

    i {
      padding: 0px 7px;
      margin-top: 3px;
      font-size: 14px;
    }

    &._active {
      color: $accent;

      i {
        transform: rotate(180deg);
      }


    }
  }

  // .menu__sub

  &__sub {}
}

.sub-menu {
  position: absolute;
  top: calc(100% + 15px);
  left: 0;
  padding: 25px 0px 25px 0px;
  border-radius: 0px 0px 20px 20px;
  display: flex;
  width: 1000px;
  background-color: rgba($color: $accent, $alpha: 1.0);
  color: $white;
  overflow: hidden;
  transform: scaleY(0);
  pointer-events: none;
  transform-origin: 0 0;
  z-index: 9999;
  transition: $animation_speed;


  &._show-submenu {
    pointer-events: inherit;
    transform: scaleY(1);
  }

  // .sub-menu__list

  &__list {
    padding: 0px 0px 0px 30px;
    width: 30%;
    margin: 30px 0px 30px 0px;

    li {
      position: relative;
      margin: 10px 0px;

      &::before,
      &::after {
        content: '';
        position: absolute;
        right: -2px;
        width: 27px;
        height: 20px;
        background-repeat: no-repeat;
        opacity: 0;
      }

      &::before {
        top: -20px;
        background-image: url(../img/first-menu-before.svg);
      }

      &::after {
        bottom: -20px;
        background-image: url(../img/first-menu-after.svg);
      }

      a {
        display: flex;
        font-size: 17px;
        padding: 12px 0px 12px 20px;
        border-radius: 7px 0px 0px 7px;
      }

      &:hover {
        a {
          background-color: $white;
          color: $accent;
        }

        &::before,
        &::after {
          opacity: 1;
        }
      }

      &._active {
        a {
          background-color: $white;
          color: $accent;
        }

        &::before,
        &::after {
          opacity: 1;
        }
      }
    }
  }

  // .sub-menu__content

  &__content {
    background-color: $white;
    width: 60%;
    color: $accent;
    margin: 0px 25px 0px 0px;
    padding: 40px 25px 25px 70px;
    border-radius: 20px;
  }

}

.content-submenu {
  overflow-y: auto;
  display: none;

  &._show {
    display: block;
  }

  // .content-submenu__title

  &__title {
    display: flex;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    color: rgba($color: $mainColor, $alpha: 1.0);
  }

  // .content-submenu__list

  &__list {
    li {
      a {
        display: flex;
        font-size: 16px;
        font-weight: 400;
        color: rgba($color: $accent, $alpha: 1.0);
        padding: 15px 0px;
        transition: $animation_speed;

        &:hover {
          color: rgba($color: $mainColor, $alpha: 1.0);
        }
      }
    }
  }
}

.submenu-overlay {
  position: absolute;
  top: 0px;
  height: 100%;
  width: 100%;
  background-color: rgba($color: $accent, $alpha: 0);
  z-index: 98;
  display: none;
  pointer-events: none;

  &._active {
    pointer-events: inherit;
    display: block;
    cursor: pointer;
  }
}


.menu-mb {
  position: fixed;
  top: 0;
  left: -150%;
  width: 290px;
  height: 100%;
  z-index: 150;
  box-shadow: 0px 0px 10px rgba($color: $mainColor, $alpha: .2);
  background-color: rgba($color: $white, $alpha: 1.0);
  padding: 30px 20px;
  transition: $animation_speed;

  &._show-menu {
    left: 0%;
  }

  // .menu-mb__close
  &__close {
    position: absolute;
    left: 100%;
    top: 10px;
    width: 35px;
    height: 35px;
    border: 1px solid rgba($color: $mainColor, $alpha: .2);
    background-color: rgba($color: $white, $alpha: 1);
    border-radius: 5px;
    margin-left: 10px;

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 26px;
      height: 2px;
      margin-left: -13px;
      margin-top: -1px;
      background-color: rgba($color: red, $alpha: 1.0);
    }

    &::before {
      transform: rotate(-45deg);
    }

    &::after {
      transform: rotate(45deg);
    }
  }

  // .menu-mb__switcher

  &__switcher {
    width: 100%;
    height: 60px;
    // box-shadow: inset 0px 0px 5px rgba($color: $mainColor, $alpha: .3);
    background-color: rgba($color: $accent, $alpha: 1.0);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 5px 5px;
    margin-bottom: 40px;
  }

  // .menu-mb__btn

  &__btn {
    width: 50%;
    height: 100%;
    padding: 0px 20px;
    font-size: 16px;
    color: $white;
    border-radius: 5px;
    margin: 5px 0px;

    &._active {
      background-color: rgba($color: $white, $alpha: 1.0);
      color: $accent;
    }
  }

  // .menu-mb__inner
  &__inner {
    height: calc(100% - 100px);
    overflow-y: auto;
  }

  // .menu-mb__menu

  &__menu {
    display: flex;
    flex-direction: column;
    overflow-y: auto;

    a {
      display: flex;
      padding: 20px 0px;
      font-size: 17px;
      font-weight: 500;
      border-bottom: 1px solid rgba($color: $mainColor, $alpha: .1);
      transition: $animation_speed;

      &:hover {
        color: $accent;
      }
    }
  }

  // .menu-mb__service

  &__service {}

  // .menu-mb__content
  &__content {
    display: none;

    &._active {
      display: flex;
    }
  }
}

.service-menu {
  overflow-y: auto;
  width: 100%;
  flex-direction: column;

  // .service-menu__item

  &__item {
    width: 100%;

    a {
      width: 100%;
      display: flex;
      padding: 20px 0px;
      font-size: 17px;
      font-weight: 500;
      border-bottom: 1px solid rgba($color: $mainColor, $alpha: .1);
      transition: $animation_speed;

      &:hover {
        color: $accent;
      }
    }
  }
}


//====================================================================================================

//Burger

.icon-menu {
  display: none;

  @media (max-width: 920px) {
    order: 0;
    display: block;
    position: relative;
    width: 29px;
    height: 19px;
    cursor: pointer;
    z-index: 5;

    span,
    &::before,
    &::after {
      content: "";
      transition: all 0.3s ease 0s;
      right: 0;
      position: absolute;
      width: 100%;
      height: 3px;
      background-color: $mainColor;
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }

    span {
      top: calc(50% - rem(1));
    }

    .menu-open & {
      span {
        width: 0;
      }

      &::before,
      &::after {}

      &::before {
        top: calc(50% - rem(1));
        transform: rotate(-45deg);
      }

      &::after {
        bottom: calc(50% - rem(1));
        transform: rotate(45deg);
      }
    }
  }
}