.index-slider {
  margin-bottom: clamp(20px, 10vw, 50px);
  padding: 0px 15px;

  @media screen and (max-width: 425px) {
    margin-bottom: 40px;
  }

  // .index-slider__container

  &__container {
    position: relative;
    width: 100%;
    z-index: 2;
  }

  // .index-slider__inner

  &__inner {
    margin-top: 30px;
  }

  // .index-slider__slider

  &__slider {
    height: 100%;
    overflow: visible;
  }

  // .index-slider__wrapper

  &__wrapper {}

  // .index-slider__slide

  &__slide {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    position: relative;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    min-height: 650px;
    padding: 0px clamp(20px, 5.5vw, 120px);
    overflow: hidden;
    // box-shadow: 0px 0px 10px 0px rgba($color: $mainColor, $alpha: .4);
    border-radius: 25px;


    &::before {
      content: "";
      position: absolute;
      inset: 0%;
      background-color: rgba($color: $accent, $alpha: 0.5);
      z-index: 0;
    }

    @media screen and (max-width: 425px) {
      min-height: 450px;
    }
  }

  .swiper-slide-active {
    .index-slider__title {
      transform: translateX(0px);
      opacity: 1;
    }

    .index-slider__subtitle {
      transform: translateX(0px);
      opacity: 1;
    }

    .index-slider__btn {
      transform: translateY(0px);
      opacity: 1;
    }
  }

  // .index-slider__title

  &__title {
    font-size: clamp(35px, 3.5vw, 55px);
    line-height: 120%;
    font-weight: 700;
    color: $white;
    margin-bottom: 20px;
    transform: translateX(-150px);
    opacity: 0;
    transition: $animation_speed;
    transition-delay: 0.6s;
  }

  // .index-slider__subtitle

  &__subtitle {
    font-size: clamp(16px, 1.9vw, 19px);
    line-height: 150%;
    max-width: 700px;
    font-weight: 400;
    margin-bottom: 60px;
    color: rgba($color: $white, $alpha: 0.8);
    transform: translateX(-150px);
    opacity: 0;
    transition: $animation_speed;
    transition-delay: 0.8s;
  }

  // .index-slider__btn

  &__btn {
    border: 1px solid $white;
    color: $white;
    padding: 15px 50px;
    transform: translateY(150px);
    opacity: 0;
    transition: $animation_speed;
    transition-delay: 0.8s;

    &::before {
      background-color: $white;
    }

    &:hover {
      color: $accent;
    }
  }

  .index-button-prev,
  .index-button-next {
    background-color: $white;
    width: 40px;
    height: 40px;
    border-radius: 50%;

    &::after {
      color: $accent;
      font-weight: 700;
    }
  }

  .swiper-button-next,
  .swiper-button-prev {
    @media screen and (max-width: 992px) {
      top: 93%;
    }
  }
}

.index {
  padding: clamp(20px, 10vw, 50px) 0px;



  // .index__container

  &__container {}

  // .index__row

  &__row {
    display: flex;
    gap: 10px;
  }

  // .index__col

  &__col {
    @media screen and (min-width: 920px) {
      width: 50%;
    }
  }
}


.grid-col {

  // .grid-col__row

  &__row {
    border-radius: 25px;
    overflow: hidden;

    &:nth-child(1) {
      background-color: rgba($color: $accent, $alpha: .05);
      padding: 30px;
    }

    &:nth-child(2) {
      display: flex;
      gap: 20px;
      width: 100%;
      margin-top: 10px;
    }

    &:nth-child(3) {
      display: flex;
      height: 250px;
      background-color: rgba($color: $accent, $alpha: .1);
      margin-top: 10px;
      padding: 30px;
    }
  }

  // .grid-col__title

  &__title {
    font-size: clamp(45px, 4vw, 80px);
    line-height: 100%;
    margin-bottom: 80px;
  }

  // .grid-col__subtitle

  &__subtitle {
    font-weight: 600;
    line-height: 150%;
    text-decoration: underline;
  }

  // .grid-col__card

  &__card {
    background-repeat: no-repeat;
    background-position: 0% 40%;
    background-size: cover;
    width: 50%;
    height: 250px;
    border-radius: 25px;
    overflow: hidden;
    transition: $animation_speed;

    &:hover {
      background-position: 0% 30%;
    }
  }

  // .grid-col__row-leftside

  &__row-leftside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;

    a {

      &:first-child {
        font-size: 20px;
        font-weight: 600;
      }

      &:last-child {
        font-size: 25px;
        font-weight: 600;
        max-width: 270px;
        line-height: 120%;
      }
    }
  }

  // .grid-col__row-rightside

  &__row-rightside {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 50%;

    button {
      background-color: rgba($color: $white, $alpha: 1.0);
      padding: 20px 30px;
      border-radius: 15px;
      font-weight: 600;
    }
  }
}

.image-col {
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: top right;
  background-color: rgba($color: $accent, $alpha: .1);
  border-radius: 25px;
  padding: 30px;
  display: flex;
  gap: 20px;
  align-items: flex-end;

  // .image-col__card

  &__card {
    width: 50%;
    height: 200px;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &:first-child {
      background-color: rgba($color: $white, $alpha: 1.0);
    }

    &:nth-child(2) {
      background-color: rgba($color: $white, $alpha: .6);
      backdrop-filter: blur(5px);

      a {}
    }

    p {
      font-size: 20px;
      font-weight: 600;
      max-width: 200px;
      text-wrap: balance;
      line-height: 140%;
    }

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      border: 1px solid rgba($color: $mainColor, $alpha: .6);
      border-radius: 50%;
      align-self: flex-end;
    }
  }


}

.index-about {

  @media screen and (min-width: 992px) {
    display: flex;
  }

  // .index-about__content

  &__content {
    flex: 0 0 100%;
  }

  // .index-about__container

  &__container {
    height: 100%;
    display: flex;
    align-items: center;
  }

  // .index-about__body

  &__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 0px 50px 0px;

    @media screen and (min-width: 992px) {
      padding: 0px 50px 0px 0px;
      width: 50%;
    }
  }

  // .index-about__title

  &__title {
    margin-bottom: 20px;
  }

  // .index-about__subtitle

  &__text {
    font-size: clamp(16px, 1.5vw, 17px);
    line-height: 150%;

    p {
      margin-bottom: 20px;
    }
  }

  // .index-about__link
  &__link {
    align-self: flex-end;

    @media screen and (max-width: 768px) {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  // .index-about__image

  &__image {
    padding: 0 15px 0px 15px;

    @media screen and (min-width: 992px) {
      flex: 0 0 50%;
      transform: translate(-100%, 0);
      position: relative;
      padding: 0 0 30% 0;

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    img {
      max-width: 100%;
      border-radius: 150px 15px 150px 15px;
    }
  }
}

.five-reasons {
  // .five-reasons__container

  &__container {}

  // .five-reasons__inner

  &__inner {}

  // .five-reasons__title

  &__title {}

  // .five-reasons__text

  &__text {
    p {
      font-weight: 300;
      line-height: 150%;

      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }
  }

  // .five-reasons__grid

  &__grid {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    grid-auto-flow: dense;
    gap: 30px;
  }

  // .five-reasons__item

  &__item {
    display: flex;
    flex-direction: column;
    padding: 25px 20px;
    border: 1px solid rgba($color: $mainColor, $alpha: 0.2);
    border-radius: 8px;
  }
}

.item-five {
  // .item-five__icon

  &__icon {
    margin-bottom: 17px;
  }

  // .item-five__title

  &__title {
    font-size: 20px;
    font-weight: 600;
    line-height: 150%;
    margin-bottom: 26px;
  }

  // .item-five__subtitle

  &__subtitle {
    font-size: 15px;
    font-weight: 300;
    line-height: 150%;
    flex: 1 1 auto;
  }
}

.index-doctors {
  // .index-doctors__slide

  &__slide {
    background-color: rgba($color: $white, $alpha: 1.0);
  }

  .index-doctor-prev,
  .index-doctor-next {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background-color: rgba($color: $accent, $alpha: 1.0);

    &::after {
      color: rgba($color: $white, $alpha: 1.0);
    }
  }
}

.index-service {
  background-color: rgba($color: $accent, $alpha: .05);

  // .index-service__container

  &__container {}

  // .index-service__inner

  &__inner {
    display: flex;
    gap: 40px;

    @media screen and (max-width: 1125px) {
      flex-direction: column;
    }
  }

  // .index-service__head
  &__head {
    position: sticky;
    top: 180px;
  }

  // .index-service__grid
  &__grid {
    display: flex;
    justify-content: space-between;
    gap: 20px;

    @media screen and (min-width: 1125px) {
      width: 60%;
    }

    @media screen and (max-width: 732px) {
      flex-direction: column;
    }

    .index-service__col {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 40px;

      &:nth-child(1) {

        @media screen and (min-width: 1125px) {
          width: 50%;
          margin-top: 40px;
        }
      }

      &:nth-child(2) {
        @media screen and (min-width: 1125px) {
          width: 50%;
        }
      }
    }
  }

  // .index-service__col

  &__col {
    position: relative;

    &:nth-child(1) {
      @media screen and (min-width: 1125px) {
        width: 40%;
      }
    }
  }

  // .index-service__title

  &__title {
    margin-bottom: 20px;
  }

  // .index-service__subtitle

  &__subtitle {
    font-style: normal;
    font-weight: 300;
    line-height: 150%;
    margin-bottom: 40px;
  }

  // .index-service__link
  &__link {}

  // .index-service__item

  &__item {
    display: inline-flex;
    position: relative;

    // .index-service__item--bottom

    &--bottom {
      .index-service__content {
        @media screen and (min-width: 920px) {
          bottom: 20px;
        }
      }
    }

    // .index-service__item--top

    &--top {
      .index-service__content {
        @media screen and (min-width: 920px) {
          top: 20px;
        }
      }
    }

    @media (hover:hover) {
      &:hover {
        .index-service__image {
          img {
            transform: scale(1.05);
          }
        }
      }
    }
  }

  // .index-service__image
  &__image {
    overflow: hidden !important;
    border-radius: 6px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: $animation_speed;
    }

    @media screen and (min-width: 1125px) {
      width: 290px;
      height: 400px;
    }

    @media screen and (min-width: 768px) {
      width: 390px;
      height: 500px;
    }
  }

  // .index-service__content

  &__content {
    width: 100%;
    position: absolute;
    background-color: $accent;
    color: $white;
    padding: 15px 15px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    line-height: 150%;
    border-radius: 4px;

    @media screen and (min-width: 920px) {
      width: 100%;
      font-size: 11px;
      padding: 20px 10px;
    }

    img,
    svg,
    i {
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      transition: $animation_speed;
    }

    // .index-service__content--first
    &--first {
      @media screen and (min-width: 920px) {
        left: -10px;
      }
    }

    // .index-service__content--second
    &--second {
      @media screen and (min-width: 920px) {
        right: -10px;
      }
    }

    // .index-service__content--third
    &--third {
      @media screen and (min-width: 920px) {
        right: 20px;
      }
    }

    // .index-service__content--fourth
    &--fourth {
      @media screen and (min-width: 920px) {
        right: -10px;
      }
    }

    &:hover {
      i {
        margin-right: 10px;
      }
    }
  }
}

.rating {
  // .rating__inner

  &__inner {}

  // .rating__grid

  &__grid {
    position: relative;


    @media screen and (min-width: 920px) {
      display: flex;
      height: 450px;
    }
  }

  // .rating__col

  &__col {
    @media screen and (min-width: 767px) {
      flex: 1 1 50%;
    }

    &:nth-child(2) {
      background-color: $lightBlue;
      padding: 40px 15px;


      @media screen and (min-width: 920px) {
        display: flex;
        align-items: flex-end;
        padding: 50px 40px;
      }
    }
  }

  // .rating__image

  &__image {
    height: 100%;

    img {
      max-width: 100%;
      height: 100%;
    }
  }

  // .rating__items
  &__items {
    display: flex;
    gap: 30px;
    background-color: $bodyColor;
    padding: 60px 40px;
    width: clamp(700px, 80vw, 1100px);
    border-radius: 5px;
    border-top: 1px solid rgba($color: $mainColor, $alpha: 0.1);
    box-shadow: -5px 5px 5px rgba($color: $mainColor, $alpha: 0.1);

    @media screen and (min-width: 920px) {
      position: absolute;
      top: 0;
      right: 0;
      border-radius: 0px 0px 0px 24px;
    }

    @media screen and (max-width: 920px) {
      width: 100%;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    @media screen and (max-width: 531px) {
      justify-content: center;
    }
  }

  // .rating__item

  &__item {
    padding: 20px;
    display: flex;
    flex-direction: column;
  }

  // .rating__logo

  &__logo {
    height: 35px;
    align-self: center;
    justify-self: center;
    margin-bottom: 15px;

    img {
      max-width: 100%;
    }

    &--prodoctorov {
      width: 160px;
    }
  }

  // .rating__content

  &__content {
    display: flex;
  }

  // .rating__number

  &__number {
    font-size: 40px;
    font-weight: 600;
    margin-right: 10px;
  }

  // .rating__rating

  &__rating {}

  // .rating__stars

  &__stars {
    margin-bottom: 5px;

    img {
      width: 13px;
    }
  }

  // .rating__reviews

  &__reviews {}

  // .rating__text

  &__text {
    max-width: 340px;
    font-size: clamp(16px, 2.5vw, 22px);
    line-height: 150%;
    font-weight: 700;
    text-wrap: balance;

    @media screen and (max-width: 920px) {
      margin-top: 40px;
      max-width: 100%;
      text-align: center;

    }
  }
}

.reviews {
  margin-top: 50px;
  // .reviews__container

  &__container {
    max-width: 1300px;
  }

  // .reviews__slider

  &__slider {}

  // .reviews__wrapper

  &__wrapper {}

  // .reviews__slide

  &__slide {
    border: 1px solid rgba($color: $mainColor, $alpha: 0.3);
    padding: 30px;
  }

  // .reviews__head

  &__head {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px dashed rgba($color: $mainColor, $alpha: 0.3);
    padding: 0px 0px 20px;

    @media screen and (max-width: 425px) {
      flex-wrap: wrap;
      gap: 20px;
    }
  }

  // .reviews__name

  &__name {
    width: 50%;

    p {
      font-size: 25px;
      font-weight: 600;
      margin-bottom: 10px;
    }

    a {
      display: inline-flex;
      font-size: 12px;
      padding: 5px 10px;
      color: rgba($color: $accent, $alpha: 0.6);
      border: 1px solid rgba($color: $accent, $alpha: 0.6);
    }
  }

  // .reviews__rating

  &__rating {}

  // .reviews__stars

  &__stars {
    margin-bottom: 20px;

    img {
      width: 20px;
    }
  }

  // .reviews__date

  &__date {
    font-weight: 600;

    @media screen and (min-width: 425px) {
      text-align: right;
    }
  }

  // .reviews__content

  &__content {
    padding: 20px 0px;
  }

  // .reviews__text

  &__text {
    min-height: 100px;
    font-size: 15px;
    margin-bottom: 20px;
    line-height: 150%;
    max-height: 100px;
    overflow: hidden;
  }

  // .reviews__btn

  &__btn {
    font-size: 14px;
    font-weight: 700;
    transition: $animation_speed;

    &:hover {
      color: $accent;
    }
  }
}

.index-contact {
  // .index-contact__container

  &__container {}

  // .index-contact__inner

  &__inner {
    @media screen and (min-width: 920px) {
      display: flex;
      gap: 30px;
    }
  }

  // .index-contact__map

  &__map {
    flex: 1 1 60%;
    position: relative;
  }

  .map-top-opacity {
    width: 100%;

    &::before {
      position: absolute;
      content: "";
      z-index: 1;
      top: 0;
      left: 0;
      width: 80px;
      height: 1900px;
      background: linear-gradient(90deg, $bodyColor 32.81%, rgba(255, 255, 255, 0) 100%);
      transform: matrix(0, 1, 1, 0, 0, 0);
      transform-origin: top left;
      pointer-events: none;
    }
  }

  .map-right-opacity {
    &::before {
      position: absolute;
      content: "";
      z-index: 1;
      // right: 800px;
      top: 0;
      width: 800px;
      height: 950px;
      background: linear-gradient(90.47deg, $bodyColor 80.93%, rgba(255, 255, 255, 0) 99.48%);
      transform: matrix(-1, 0, 0, 1, 0, 0);
      transform-origin: top right;
      pointer-events: none;
    }
  }

  .map-bottom-opacity {
    &::before {
      position: absolute;
      content: "";
      z-index: 1;
      bottom: 0;
      left: 0;
      width: 100px;
      height: 1900px;
      background: linear-gradient(90deg, $bodyColor 32.81%, rgba(255, 255, 255, 0) 100%);
      transform: matrix(0, -1, -1, 0, 0, 0);
      transform-origin: bottom left;
      pointer-events: none;
    }
  }

  // .index-contact__content

  &__content {
    flex: 1 1 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 2;
  }

  // .index-contact__title

  &__title {
    margin-bottom: 40px;
  }

  // .index-contact__item

  &__item {
    display: flex;
    margin-bottom: 30px;

    img {
      margin-right: 10px;
    }
  }

  // .index-contact__link

  &__link {
    align-self: flex-start;
  }
}