.index-slider {
  // .index-slider__container

  &__container {
  }

  // .index-slider__inner

  &__inner {
  }

  // .index-slider__slider

  &__slider {
    position: relative;
  }

  // .index-slider__wrapper

  &__wrapper {
  }

  // .index-slider__slide

  &__slide {
  }

  // .index-slider__title

  &__title {
  }

  // .index-slider__subtitle

  &__subtitle {
  }

  // .index-slider__btn

  &__btn {
  }

  // .index-slider__image

  &__image {
    position: absolute;
    right: 0;
    bottom: 0;
  }

  // .index-slider__pagintion

  &__pagintion {
  }
}
.swiper {
}
.swiper-wrapper {
}
.swiper-slide {
}
.btn {
}
.swiper-pagination {
}
