.index-slider {
  margin-top: 31px;
  padding-bottom: 50px;
  // .index-slider__container

  &__container {
  }

  // .index-slider__inner

  &__inner {
  }

  // .index-slider__slider

  &__slider {
    position: relative;
  }

  // .index-slider__wrapper

  &__wrapper {
  }

  // .index-slider__slide

  .swiper-slide {
    height: 550px;
  }

  &__slide {
    height: 550px;
    background-color: $lightBlue;
    border-radius: 25px;
    padding: 59px 54px 58px;
    overflow: hidden;
  }

  .swiper-slide-active {
    .index-slider__title {
      transform: translateX(0px);
      opacity: 1;
    }

    .index-slider__subtitle {
      transform: translateX(0px);
      opacity: 1;
    }

    .index-slider__btn {
      transform: translateY(0px);
      opacity: 1;
    }
  }

  // .index-slider__title

  &__title {
    color: $mainColor;
    font-size: 38px;
    font-weight: 800;
    line-height: 150%;
    text-transform: uppercase;
    margin-bottom: 40px;
    // max-width: 395px;
    transform: translateX(-180px);
    opacity: 0;
    transition: 0.8s;
    transition-delay: 0.6s;
  }

  // .index-slider__subtitle

  &__subtitle {
    color: $mainColor;
    font-size: 20px;
    font-weight: 400;
    line-height: 150%;
    max-width: 650px;
    margin-bottom: 55px;
    transform: translateX(-180px);
    opacity: 0;
    transition: 0.8s;
    transition-delay: 0.8s;
  }

  // .index-slider__btn

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 196px;
    height: 48px;
    background-color: $accent;
    border-radius: 10px;

    color: $white;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 45px;
    transform: translateY(80px);
    opacity: 0;
    transition: 0.8s;
    transition-delay: 1s;
  }

  // .index-slider__image

  &__image {
    position: absolute;
    right: 0;
    bottom: 0;
  }

  // .index-slider__pagintion

  &__pagintion {
  }

  .swiper-pagination {
    width: auto !important;
    bottom: 58px !important;
    left: 54px !important;
    z-index: 99;
  }

  .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: $white;
    border-radius: 6px;
    opacity: 1;
    transition: $animation_speed;
  }

  .swiper-pagination-bullet-active {
    border-radius: 8px;
    background-color: $accent;
    width: 36px;
  }
}

.index-about {
  // .index-about__container

  &__container {
  }

  // .index-about__inner

  &__inner {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  // .index-about__image

  &__image {
    flex: 0 0 50%;
    overflow: hidden;

    img {
      max-width: 100%;
      border-radius: 24px;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }
  }

  // .index-about__content

  &__content {
    display: flex;
    flex-direction: column;
  }

  // .index-about__title

  &__title {
    margin-bottom: 32px;
  }

  // .index-about__text

  &__text {
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%;
    margin-bottom: 55px;

    p {
      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }

  // .index-about__btn

  &__btn {
    align-self: flex-end;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 202px;
    height: 48px;
  }
}

.five-reasons {
  // .five-reasons__container

  &__container {
  }

  // .five-reasons__inner

  &__inner {
  }

  // .five-reasons__title

  &__title {
  }

  // .five-reasons__text

  &__text {
    p {
      font-size: 16px;
      font-weight: 300;
      line-height: 150%;

      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }
  }

  // .five-reasons__grid

  &__grid {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    gap: 30px;
  }

  // .five-reasons__item

  &__item {
    display: flex;
    flex-direction: column;
    border-radius: 24px;
    background: #fff;
    box-shadow: 0px 0px 16px 0px rgba(230, 230, 230, 0.5);
    padding: 25px 20px;
  }
}

.item-five {
  // .item-five__icon

  &__icon {
    margin-bottom: 17px;
  }

  // .item-five__title

  &__title {
    font-size: 20px;
    font-weight: 600;
    line-height: 150%;
    margin-bottom: 26px;
    flex: 1 1 auto;
  }

  // .item-five__subtitle

  &__subtitle {
    font-size: 15px;
    font-weight: 300;
    line-height: 150%;
  }
}

.index-doctors {
  // .index-doctors__container

  &__container {
  }

  // .index-doctors__inner

  &__inner {
  }

  // .index-doctors__title

  &__title {
  }

  // .index-doctors__carousel

  &__carousel {
  }

  // .index-doctors__slider

  &__slider {
    position: relative;
  }

  // .index-doctors__wrapper

  &__wrapper {
  }

  // .index-doctors__slide

  &__slide {
  }

  // .index-doctors__card

  &__card {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 24px;
    background: #fff;
    box-shadow: 0px 0px 16px 0px rgba(230, 230, 230, 0.5);
  }
}

.index-doctor {
  // .index-doctor__image

  &__image {
    max-width: 340px;
    overflow: hidden;

    img {
      max-width: 100%;
    }
  }

  // .index-doctor__content

  &__content {
    padding: 20px 15px 30px;
  }

  // .index-doctor__name

  &__name {
    font-size: 23px;
    font-weight: 600;
    line-height: 150%;
    margin: 0px 0px 10px;
  }

  // .index-doctor__special

  &__special {
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
  }

  span {
    border: 1px solid rgba($color: $accent, $alpha: 0.5);
    border-radius: 10px;
    padding: 5px 15px;
    margin-top: 5px;
    display: inline-flex;
    color: rgba(51, 144, 236, 0.5);
    font-size: 15px;
    font-weight: 300;
    line-height: 115%;
  }
}
